*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 10px;
}



body {
  background: linear-gradient(to right, #030304, #1f3c32 );
  color: #ffff;
  word-spacing: 2px;
  border-radius: 10px;
  font-family:  sans-serif;
}

.left {
  font-family: sans-serif;
  font-size: 100px;
  line-height: 100px;

  
}
b {
  
  color:  #80d080;

}
.geriadtype{
font-family: Georgia, 'Times New Roman', Times, serif;
}

.body-in-body {
  display: flex;
  margin-top: 70px;
  margin-left: 200px;
    
}
.hand-image {
  height: 90vb;
  width: 70vb;
  object-fit: fill;
  margin-top: 30px;
  margin-left: 10px;
  align-content: left;

}
img{
  border: none;
}
header{
  display: flex;
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  
}

#navlinks{
  display: flex;
  align-items: center;
  margin-left: 80px;
  font-size: 20px;
  gap: 40px;
  text-decoration: none;
  margin-top: 11px;
  

}
#logo{
  align-items: left;
  margin-left: 200px;
  font-size: 40px;
  
}

#buttons{
  margin-left: 90px;
  margin-top: 10px;

}
.crypto-text{
  height: 100%;
  width: 100%;
}
#download-button{
  display: flex;
  margin-top: 90px;
  
  gap: 70px;
}
#buy-buttons{
  margin-top: 50px;
  
}


    
.circletext span{
  position: absolute;
 left:  50%;
 top: 50%;

 transform-origin: 0 70px;
transform: rotate(calc(var(--i) * 13.8deg)) translate(70px) rotate(calc(-1 * var(--i)*13.8deg));

 color:#b7b3b3;
 font-family: sans-serif;
 letter-spacing: 2px;
}

.circletext{
  position: relative;
  width:300px ;
  height: 300px;
}
a{
  text-decoration: none;
  color:rgb(192, 188, 188)
  
}
.Sign-in{
  
  color:  #80d080;
  border: 2px solid  #80d080;
  border-radius: 5px;
  height: 50px;
  width: 80px;
  padding: 10px;

}
.Sign-up{
  
  color: black;
  background-color:  #80d080;
  border-radius: 5px;
  height: 200px;
  border: 2px solid  #80d080;
  padding: 10px;


}
p{
  word-spacing: 20px;
  word-wrap: break-word;
  transform: scale(1);
}

  
  
.appstore{
height: 55px;
}
.buy-buttons1{
   
  color: black;
  background-color: #80d080;
  border-radius: 5px;
  
  border: 1px solid  #80d080;
  padding:10px ;
  height: 50px;
  width: 200px;
  word-spacing: 2px;
  font-size: 24;

}
.buy-buttons2{
  
  color:  #80d080;
  border: 1px solid  #80d080;
  border-radius: 5px;
  background-color: transparent;
  height: 50px;
  margin-left: 20px;
  padding: 10px;
  width: 200px;
  word-spacing: 3px;
  font-size: 24;
}

body, html{
  max-height:100vb;
  max-width: 100vw;
  
  margin: 0;
  padding: 0;
}
button{
  background-color: transparent;
}
