*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(191, 216, 242)
   

}




.form-div{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: auto;
  background-color:white;
}


form{

  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1%;
  justify-content: space-evenly;
  background-color:white;
  border-radius: 5px;
  border-radius:  10px;
  
}

.name-div{
  display: flex;
  display: flex;
  justify-content: space-evenly;
  gap: 2%;

 
}


.name{
  width: 50%;
  
  padding: 2%;
  

}
.select-gender{
  width: 70%;
  padding: 2%;
  margin-left: 0%;
  
}

.Address{
  display: flex;
  justify-content: space-evenly;
  gap: 1%;
}
.address-input{
   width: 50%;
  padding: 2%;
  

}
.tel-number-IsoCode{

  width: 100%;
  padding: 2%;
}
.leve-of-education{
  width: 100%;
  padding: 2%;
}

.program{
  width: 70%;
  padding: 2%;

}

.free-or-paid{
  width: 100%;
  padding: 2%;


}
label{
  width: 100%;
}
.reason{

  width: 70%;
  padding: 2%;
}

.time{
   width: 100%;
   padding: 1%;

}
.length-of-time{
   width: 70%;
   padding: 2%;


}
#submit{
  width: 70%;
   padding: 2%;
   align-self: center;
   border-radius: 5px;
   
}
#submit:hover{
  background-color:blue;
  color: white;
  cursor: pointer;
}
#dob{
  width: 100%;
   padding: 2%;
   border-radius: 5px;
   

}

#Gender{
  display: flex;
  flex-direction: column;
  width: 100%;
  
}
input , select, option{
  color: black;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid black;
  
}
a{
  display: flex;
  align-content: left;
  justify-content: left;
  margin-right: 40%;
  color:black;
  text-decoration: none;
  margin-bottom: 10%;
}
a :hover{
  color: white;

}